@charset "UTF-8";

@media screen and (min-width: 700px) {
    #menu ul {
        display: flex;
    }

    #search {
        width: 50%;
    }

    #menu span#hamburguer {
        display: none;
    }

    #container-img-h1 img {
        display: block;
        width: 45%;
        transform: translateX(-25%);
    }

    .container-lanche-individual {
        height: 250px;
        flex-direction: row;
    }

    #title {
        text-align: right;
    }

    #title h1 {
        font-size: 6vw;
    }
}