.cards-container {
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 1rem;
}

.cards-container .card {
	height: min-content;
	padding: 0.8rem;
	gap: 0;
}

.cards-container .card img {
	width: 100%;
	border-radius: 0.4rem;
}
