body {
	width: 100%;
	height: 100dvh;
	background: linear-gradient(
		to bottom left,
		var(--light-blue),
		var(--blue-gray),
		var(--light-gray),
		var(--gray),
		var(--black)
	);
	color: var(--white);
	display: flex;
	justify-content: center;
	overflow: hidden;
}

main {
	width: 100%;
	max-width: 1200px;
	max-height: 900px;
	padding: 1rem;
	display: flex;
	justify-content: center;
	margin: 3rem 1rem;
}

section {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.chats {
	max-width: 350px;
	background-color: var(--black);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 1rem;
	overflow: auto;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

.title {
	position: sticky;
	top: 0;
	left: 0;
	padding-block: 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: var(--black);
	border-bottom: 2px solid var(--light-gray);
	box-shadow: 0 0 1.5rem #181b2055;
}

.title img {
	width: 40px;
}

.user-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-info .botoes {
	display: flex;
	gap: 0.5rem;
}

.user-chat {
	padding: 0.5rem;
	background-color: var(--gray);
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: background-color 0.2s;
}

.user-chat:hover {
	background-color: var(--light-gray);
}

.user-chat:has(> input[type="radio"]:checked) {
	background-color: var(--blue-gray);
}

.user-chat .username {
	font-size: 1.2rem;
}

.user-chat.active .username {
	font-weight: bold;
}

.user-chat input[type="radio"] {
	visibility: hidden;
}

.user-picture {
	width: 2rem;
	height: 2rem;
}

.main-chat {
	background-color: #181b2055;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.main-chat #mensagem-inicial {
	max-width: 325px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-chat #mensagem-inicial h1 {
	font-size: 2.5rem;
}

.main-chat header {
	padding: 0.5rem;
	background-color: var(--gray);
	display: flex;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 1.5rem #181b20aa;
}

.main-chat .messages {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: auto;
}

.main-chat .messages-container {
	scroll-behavior: smooth;
	padding-top: 1rem;
	padding-right: 0.2rem;
	overflow: auto;
	overflow-x: hidden;
	position: relative;
}

button#scroll {
	width: 2rem;
	height: 2rem;
	position: absolute;
	bottom: 4rem;
	right: 1rem;
	display: none;
	border-radius: 50%;
	background-color: var(--gray);
	box-shadow: 0 0 1.5rem #181b2055;
	transition: background-color 0.2s;
}

button#scroll:hover {
	background-color: var(--light-gray);
}

.message,
.message-user {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
}

.message-user {
	flex-direction: row-reverse;
}

.message span,
.message-user span {
	--message-color: var(--black);
	width: fit-content;
	padding: 0.5rem;
	background-color: var(--message-color);
	border-radius: 0.5rem;
	position: relative;
	word-break: break-all;
}

.message span::after,
.message-user span::after {
	content: "";
	width: 0;
	height: 0;
	border-left: 0.3rem solid transparent;
	border-right: 0.3rem solid transparent;
	border-top: 0.6rem solid var(--message-color);
	position: absolute;
	bottom: -0.3rem;
}

.message span {
	--message-color: var(--blue-gray);
	border-bottom-left-radius: 0;
}

.message span::after {
	left: 0;
	transform: rotate(-90deg);
}

.message-user span {
	--message-color: var(--light-blue);
	border-bottom-right-radius: 0;
}

.message-user span::after {
	right: 0;
	transform: rotate(90deg);
}

.message-date {
	font-style: italic;
	font-size: 0.8rem;
	color: var(--white);
	opacity: 0.5;
}

.main-chat .date {
	font-weight: 700;
	text-align: center;
	border-bottom: 1px solid var(--white);
	margin-bottom: 0.5rem;
}

.form {
	display: flex;
	gap: 1rem;
}

.form input {
	flex: 1;
	outline: none;
	padding: 0.5rem 0.8rem;
	background-color: var(--black);
	border: 0.1rem solid var(--gray);
	color: var(--white);
	border-radius: 0.25rem;
	transition: background-color 0.2s;
}

input:focus {
	box-shadow: 0 0 1.5rem #181b20aa;
}

.form input::placeholder {
	color: #b4b4b4;
}

.form input:focus-within {
	background-color: var(--gray);
}

button.enviar {
	padding: 0.5rem 0.8rem;
	background-color: var(--light-blue);
}

button.enviar:hover {
	background-color: var(--blue-gray);
}

.loading {
	text-align: center;
}
