@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--light-blue: #407fff;
	--blue-gray: #6a7da3;
	--light-gray: #5f6570;
	--gray: #2e333d;
	--black: #181b20;
	--white: #f8f8f8;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

a {
	color: var(--light-blue);
	text-decoration: none;
	transition: color 0.2s ease;
	position: relative;
}

a::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--light-blue);
	transition: width 0.2s ease;
}

a:hover::after {
	width: 100%;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--blue-gray);
	border-radius: 1rem;
	transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--light-blue);
}
