body {
  margin: 0;
  padding: 0;
  color: #242424;
  font-family: sans-serif;
}

h1, h2 {
  font-weight: 900;
  color: #000;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

main {
  display: block;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
}

section p {
  margin-bottom: 40px;
}

section h2 {
  margin-bottom: 40px;
  font-size: 30px;
}

section.content {
  padding: 40px 0;
  background: #ece7d5;
}

section.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.parallax-1 {
  background-image: url("imgs/brasil.jpeg");
}

section.parallax-2 {
  background-image: url("imgs/israel.jpg");
}

section.parallax-3 {
  background-image: url("imgs/alemanha.jpeg");
}

section.parallax h1 {
  color: #fff;
  text-shadow: 0px 0px 50px black;
  text-align: center;
  font-size: 78px;
  z-index: 50;
  text-transform: uppercase;
}

@media all and (max-width: 820px) {
  section.module h2 {
    font-size: 32px;
  }

  .container {
    margin: 0;
    padding: 50px;
  }

  section.parallax h1 {
    font-size: 36px;
  }
}
